@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
 
  --bg-cream: #FFF2E0;
  --pastel-light: #C0C9EE;
  --pastel-primary: #A2AADB;
  --pastel-accent: #898AC4;

  
  --text-primary: #1f2937; 
  --text-secondary: #4b5563; 
}

.bg-app {
  background-color: var(--bg-cream);
}

.bg-glass {
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(16px);
  border: 1px solid rgba(255, 255, 255, 0.4);
}


.blob-primary {
  background-color: var(--pastel-primary);
}

.blob-light {
  background-color: var(--pastel-light);
}


.btn-primary {
  background: linear-gradient(
    90deg,
    var(--pastel-primary),
    var(--pastel-accent)
  );
  color: white;
  font-weight: 600;
}


.focus-pastel:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--pastel-primary);
}


